.leaderBoard{
  grid-area:  leaderBoard;
  margin: 20px;
  margin-right: 60px ;
  font-size: 20px;
}

.leadersList h1 {
  margin: 0;
}
.leadersList{
  display: block;
  list-style: none;
  padding: 0;
  background-color: #e9eeee;
}

.leaderBoard__item {
  border-bottom: 2px solid #fffbfd;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

leaderBoard__winner{
  float: left;
}
.leaderBoard__date{
  float: right;
}