.menu{
  grid-area: form;
  margin: 20px;
}
.menu__gameMode, .memu__playerName, .menu__playBtn {
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  width: 140px;
  height: 40px;
  border: none;

}
.menu__gameMode {
  background-color: #e9eeee;
  cursor: pointer;
}
.memu__playerName{
  background-color: #f5fafa;

}
.menu__playBtn {
  background-color: #b6bbbb;
  cursor: pointer;
}

