.menu{
  margin:  20px 0px;
}
.gameMode, .playBtn {
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
  width: 140px;
  height: 40px;
  border: none;

}
.gameMode {
  background-color: #e9eeee;
  cursor: pointer;
}
.playBtn {
  background-color: #b6bbbb;
  cursor: pointer;
}

