
.boardEasy{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  grid-area: gameBoard;
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(5, 70px);
}

.boardMedium{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  grid-area: gameBoard;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.boardHard{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  grid-area: gameBoard;
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
}